.card{
    background: var(--surface);
    border:1px solid var(--border);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    overflow:hidden;
}

.card__header,
.card__footer{
    padding: .9rem 1rem;
    background: var(--surface-2);
}

.card__body{
    padding: 1rem;
}

.card__title{
    margin:0;
    font-size: var(--fs-20);
}

.card__img--circle {
    border-radius: 50%;
    background-color: var(--color-bg);
    border: 3px solid var(--primary);
    display: block;
    background-size: cover;
    background-position: center;
    width: 120px;
    height: 120px;
    margin: 0 auto 1rem auto;
}